<a href="https://colab.research.google.com/github/oilnutttt/BasicProg_DataViz65/blob/main/Data_Preparation%F0%9F%A4%A2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏° google drive 
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#‡πÄ‡∏Ç‡πâ‡∏≤‡πÑ‡∏õ path ‡πÉ‡∏ô google drive
import os
os.chdir('/content/drive/MyDrive/BPDV65')

!pwd #‡πÄ‡∏ä‡πá‡∏Ñ paht ‡∏ó‡∏µ‡πà‡∏Å‡∏≥‡∏•‡∏±‡∏á‡∏ó‡∏≥‡∏á‡∏≤‡∏ô‡∏≠‡∏¢‡∏π‡πà

/content/drive/MyDrive/BPDV65

In [ ]:
!ls

iris.csv		    opendata_project.csv
opendata_eating_score.csv   opendata_unittype.csv
opendata_living_score.csv   opendata_volume_listing_rent.csv
opendata_project_clean.csv

# üîóDatabase
[Open Data Free!! By Baania (Thailand)](https://gobestimate.com/data)


```
opendata_project.csv
```
[*Residental Project Data* ](https://gobestimate.com/data-detail/Residental-Project-Data)
 ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏£‡∏≤‡∏¢‡∏•‡∏∞‡πÄ‡∏≠‡∏µ‡∏¢‡∏î‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£‡∏ó‡∏µ‡πà‡∏≠‡∏¢‡∏π‡πà‡∏≠‡∏≤‡∏®‡∏±‡∏¢‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó ‡∏à‡∏±‡∏î‡∏™‡∏£‡∏£ ‡∏ú‡∏π‡πâ‡∏û‡∏±‡∏í‡∏ô‡∏≤ ‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£ ‡πÅ‡∏•‡∏∞‡∏™‡∏¥‡πà‡∏á‡∏≠‡∏≥‡∏ô‡∏ß‡∏ô‡∏Ñ‡∏ß‡∏≤‡∏°‡∏™‡∏∞‡∏î‡∏ß‡∏Å ‡∏Ç‡∏≠‡∏á‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢ 
```
opendata_unittype.csv  
```
[*Residental Unittype Data*](https://gobestimate.com/data-detail/Residental-Unittype-Data)
‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏£‡∏≤‡∏¢‡∏•‡∏∞‡πÄ‡∏≠‡∏µ‡∏¢‡∏î‡πÅ‡∏ö‡∏ö‡∏ö‡πâ‡∏≤‡∏ô‡πÉ‡∏ô‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£‡∏ó‡∏µ‡πà‡∏≠‡∏¢‡∏π‡πà‡∏≠‡∏≤‡∏®‡∏±‡∏¢‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó ‡∏à‡∏±‡∏î‡∏™‡∏£‡∏£ ‡∏à‡∏≤‡∏Å‡∏Å‡∏≤‡∏£‡∏£‡∏ß‡∏ö‡∏£‡∏ß‡∏°‡πÇ‡∏î‡∏¢ ‡∏ö‡∏≤‡πÄ‡∏ô‡∏µ‡∏¢ ‡∏´‡∏°‡∏≤‡∏¢‡πÄ‡∏´‡∏ï‡∏∏ ‡∏ï‡πâ‡∏≠‡∏á‡πÉ‡∏ä‡πâ‡∏£‡πà‡∏ß‡∏°‡∏Å‡∏±‡∏ö‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• "Residental Project Data"
```
opendata_eating_score.csv
```
[*Eating Score By Location*](https://gobestimate.com/data-detail/Eating-Score-By-Location)
‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏Å‡∏≤‡∏£‡∏Å‡∏¥‡∏ô‡∏Ç‡∏≠‡∏á‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà‡∏ï‡πà‡∏≤‡∏á‡πÜ ‡∏ã‡∏∂‡πà‡∏á‡∏ß‡∏¥‡πÄ‡∏Ñ‡∏£‡∏≤‡∏∞‡∏´‡πå‡∏à‡∏≤‡∏Å‡∏õ‡∏±‡∏à‡∏à‡∏±‡∏¢‡∏î‡πâ‡∏≤‡∏ô‡∏£‡∏≤‡∏Ñ‡∏≤ ‡∏î‡πâ‡∏≤‡∏ô‡∏Ñ‡∏∏‡∏ì‡∏†‡∏≤‡∏û‡∏£‡πâ‡∏≤‡∏ô/‡∏ö‡∏£‡∏¥‡∏Å‡∏≤‡∏£ ‡πÅ‡∏•‡∏∞‡∏î‡πâ‡∏≤‡∏ô‡∏Ñ‡∏ß‡∏≤‡∏°‡∏´‡∏•‡∏≤‡∏Å‡∏´‡∏•‡∏≤‡∏¢‡∏Ç‡∏≠‡∏á‡∏≠‡∏≤‡∏´‡∏≤‡∏£‡πÉ‡∏ô‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà ‡πÇ‡∏î‡∏¢‡∏à‡∏∞‡πÅ‡∏ö‡πà‡∏á‡∏Å‡∏≤‡∏£‡∏ß‡∏¥‡πÄ‡∏Ñ‡∏£‡∏≤‡∏∞‡∏´‡πå‡∏≠‡∏≠‡∏Å‡πÄ‡∏õ‡πá‡∏ô ‡∏Å‡∏≤‡∏£‡∏Å‡∏¥‡∏ô‡∏ä‡πà‡∏ß‡∏á‡πÄ‡∏ä‡πâ‡∏≤‡∏Å‡∏±‡∏ö‡∏Å‡∏≤‡∏£‡∏Å‡∏¥‡∏ô‡∏ä‡πà‡∏ß‡∏á‡∏Ñ‡πà‡∏≥
```
opendata_living_score.csv
```
[*Living Score By Location*](https://gobestimate.com/data-detail/Living-Score-By-Location)
‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏Å‡∏≤‡∏£‡πÄ‡∏î‡∏¥‡∏ô‡∏ó‡∏≤‡∏á‡πÄ‡∏Ç‡πâ‡∏≤‡∏ñ‡∏∂‡∏á‡∏™‡∏ñ‡∏≤‡∏ô‡∏ó‡∏µ‡πà‡πÉ‡∏ä‡πâ‡∏ä‡∏µ‡∏ß‡∏¥‡∏ï‡∏õ‡∏£‡∏∞‡∏à‡∏≥‡∏ß‡∏±‡∏ô‡∏Ç‡∏≠‡∏á‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà‡∏ï‡πà‡∏≤‡∏á‡πÜ ‡πÇ‡∏î‡∏¢‡∏Ñ‡∏≥‡∏ô‡∏ß‡∏ì‡∏à‡∏≤‡∏Å 3 ‡∏£‡∏π‡∏õ‡πÅ‡∏ö‡∏ö‡∏Å‡∏≤‡∏£‡πÄ‡∏î‡∏¥‡∏ô‡∏ó‡∏≤‡∏á ‡πÅ‡∏•‡∏∞ 5 ‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó‡∏Ç‡∏≠‡∏á‡∏™‡∏ñ‡∏≤‡∏ô‡∏ó‡∏µ‡πà‡πÄ‡∏õ‡πâ‡∏≤‡∏´‡∏°‡∏≤‡∏¢‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏Å‡∏≤‡∏£‡∏î‡∏≥‡πÄ‡∏ô‡∏¥‡∏ô‡∏ä‡∏µ‡∏ß‡∏¥‡∏ï‡πÉ‡∏ô‡πÅ‡∏ï‡πà‡∏•‡∏∞‡∏ß‡∏±‡∏ô

# üîóOpen CSV file ü´£

In [ ]:
#open CSV file 
import pandas as pd

In [ ]:
opendata_project = pd.read_csv('/content/drive/MyDrive/BPDV65/opendata_project.csv')
print(opendata_project.shape) # shown nomber of (row, column)
opendata_project.head(3)

(23434, 45)

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,‡∏ß‡∏¥‡∏ô‡∏ô‡∏¥‡πà‡∏á ‡πÄ‡∏£‡∏™‡∏ã‡∏¥‡πÄ‡∏î‡∏ô‡∏ó‡πå ‡∏™‡∏∏‡∏Ç‡∏∏‡∏°‡∏ß‡∏¥‡∏ó ‡πÅ‡∏û‡∏£‡∏Å‡∏©‡∏≤,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/‡∏ß‡∏¥‡∏ô‡∏ô‡∏¥‡πà‡∏á-‡πÄ‡∏£‡∏™‡∏ã‡∏¥‡πÄ‡∏î‡∏ô...
1,16689.0,project_11326,Gift Condominium,‡∏Å‡∏¥‡πä‡∏ü‡∏ó‡πå ‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î‡∏°‡∏¥‡πÄ‡∏ô‡∏µ‡∏¢‡∏°,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/‡∏Å‡∏¥‡πä‡∏ü‡∏ó‡πå-‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î‡∏°‡∏¥‡πÄ‡∏ô...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,‡πÅ‡∏™‡∏ô‡∏£‡∏±‡∏Å 9 ‡∏®‡∏∏‡∏Ç‡∏õ‡∏£‡∏∞‡∏¢‡∏π‡∏£ ‡∏´‡∏ô‡∏≠‡∏á‡∏Å‡∏£‡∏∞‡∏ó‡∏∏‡πà‡∏°,3,Townhome,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/‡πÅ‡∏™‡∏ô‡∏£‡∏±‡∏Å-9-‡∏®‡∏∏‡∏Ç‡∏õ‡∏£‡∏∞‡∏¢...

In [ ]:
opendata_unittype = pd.read_csv('/content/drive/MyDrive/BPDV65/opendata_unittype.csv')
print(opendata_unittype.shape) 
opendata_unittype.head(3)

(42625, 27)

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/‡πÄ‡∏ü-‡∏•‡∏¥‡∏Ñ-‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î-‡∏•‡∏≤‡∏î...
1,28777,unittype_10267,project_3543,‡∏ö‡πâ‡∏≤‡∏ô‡πÅ‡∏ù‡∏î‡∏™‡∏≠‡∏á‡∏ä‡∏±‡πâ‡∏ô Z-2,20000,Twin house,‡∏ö‡πâ‡∏≤‡∏ô‡πÅ‡∏ù‡∏î,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/‡πÄ‡∏ã‡∏ô-‡∏ö‡∏≤‡∏¢-‡∏®‡∏¥‡∏ß‡∏≤‡∏•‡∏±‡∏¢-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/‡∏ß‡∏±‡∏ô‡∏û‡∏•‡∏±‡∏™-‡∏ô‡∏≤‡∏¢‡∏ô‡πå‡∏ó‡∏µ‡∏ô...

In [ ]:
opendata_eating_score = pd.read_csv('/content/drive/MyDrive/BPDV65/opendata_eating_score.csv')
print(opendata_eating_score.shape) 
opendata_eating_score.head(3)

(554, 20)

,row_number,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,eating_daytime,eating_daytime_price,eating_daytime_quality,eating_daytime_variety,eating_nighttime,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety,source,day
0,2,4001,HUAI KHWANG,‡∏´‡πâ‡∏ß‡∏¢‡∏Ç‡∏ß‡∏≤‡∏á,4000,HUAI KHWANG,‡∏´‡πâ‡∏ß‡∏¢‡∏Ç‡∏ß‡∏≤‡∏á,3781,Bangkok,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,66.0,72.0,49.0,92.0,75.0,68.0,54.0,94.0,baania,2022-08-31
1,397,2632,THEP KRASATTRI,‡πÄ‡∏ó‡∏û‡∏Å‡∏£‡∏∞‡∏©‡∏±‡∏ï‡∏£‡∏µ,2630,THALANG,‡∏ñ‡∏•‡∏≤‡∏á,2616,Phuket,‡∏†‡∏π‡πÄ‡∏Å‡πá‡∏ï,35.0,37.0,30.0,45.0,38.0,28.0,28.0,51.0,baania,2022-08-31
2,76,3509,PAK NAM,‡∏õ‡∏≤‡∏Å‡∏ô‡πâ‡∏≥,3499,MUEANG SAMUT PRAKAN,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,3498,Samut Prakan,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,70.0,84.0,55.0,79.0,65.0,72.0,57.0,67.0,baania,2022-08-31

In [ ]:
opendata_living_score = pd.read_csv('/content/drive/MyDrive/BPDV65/opendata_living_score.csv')
print(opendata_living_score.shape) 
opendata_living_score.head(3)

(709, 28)

,row_number,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,...,access_train,access_total,drive_leisure,drive_public_service,drive_school,drive_shopping,drive_work,drive_total,source,day
0,634,3410,SANO LOI,‡πÇ‡∏™‡∏ô‡∏•‡∏≠‡∏¢,3402,BANG BUA THONG,‡∏ö‡∏≤‡∏á‡∏ö‡∏±‡∏ß‡∏ó‡∏≠‡∏á,3372,Nonthaburi,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,...,1.0,79.0,100.0,100.0,100.0,100.0,100.0,100.0,baania,2022-09-30
1,619,3976,TALAT NOI,‡∏ï‡∏•‡∏≤‡∏î‡∏ô‡πâ‡∏≠‡∏¢,3973,SAMPHANTHAWONG,‡∏™‡∏±‡∏°‡∏û‡∏±‡∏ô‡∏ò‡∏ß‡∏á‡∏®‡πå,3781,Bangkok,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,...,100.0,100.0,100.0,87.0,100.0,100.0,100.0,99.0,baania,2022-09-30
2,284,4669,BAN KAO,‡∏ö‡πâ‡∏≤‡∏ô‡πÄ‡∏Å‡πà‡∏≤,4663,PHAN THONG,‡∏û‡∏≤‡∏ô‡∏ó‡∏≠‡∏á,4616,Chon Buri,‡∏ä‡∏•‡∏ö‡∏∏‡∏£‡∏µ,...,0.0,0.0,79.0,91.0,86.0,84.0,93.0,85.0,baania,2022-09-30

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# üîóInformation from dataset

1.   ‡∏≠‡∏¢‡∏≤‡∏Å‡πÑ‡∏î‡πâ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£‡πÉ‡∏ô‡∏£‡∏π‡∏õ‡πÅ‡∏ö‡∏ö google map 
2.   ‡πÄ‡∏°‡∏∑‡∏≠‡∏Ñ‡∏•‡∏¥‡∏Å ‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£ ‡∏´‡∏ô‡∏∂‡πà‡∏á‡πÜ ‡πÅ‡∏•‡πâ‡∏ß‡∏à‡∏∞‡∏•‡∏¥‡∏á‡∏Ñ‡πå‡πÑ‡∏õ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÅ‡∏ö‡∏ö‡∏ö‡πâ‡∏≤‡∏ô‡πÉ‡∏ô‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£‡∏ô‡∏±‡πâ‡∏ô‡πÜ ‡∏û‡∏£‡πâ‡∏≠‡∏°‡∏Å‡∏±‡∏ö‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏Å‡∏≤‡∏£‡∏Å‡∏¥‡∏ô

# üîóData Cleaning

## üìëopendata_project table

In [ ]:
opendata_project = pd.read_csv('opendata_project.csv')
print(opendata_project.shape) # shown nomber of (row, column)
opendata_project.head(3)

(23434, 45)

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,‡∏ß‡∏¥‡∏ô‡∏ô‡∏¥‡πà‡∏á ‡πÄ‡∏£‡∏™‡∏ã‡∏¥‡πÄ‡∏î‡∏ô‡∏ó‡πå ‡∏™‡∏∏‡∏Ç‡∏∏‡∏°‡∏ß‡∏¥‡∏ó ‡πÅ‡∏û‡∏£‡∏Å‡∏©‡∏≤,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/‡∏ß‡∏¥‡∏ô‡∏ô‡∏¥‡πà‡∏á-‡πÄ‡∏£‡∏™‡∏ã‡∏¥‡πÄ‡∏î‡∏ô...
1,16689.0,project_11326,Gift Condominium,‡∏Å‡∏¥‡πä‡∏ü‡∏ó‡πå ‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î‡∏°‡∏¥‡πÄ‡∏ô‡∏µ‡∏¢‡∏°,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/‡∏Å‡∏¥‡πä‡∏ü‡∏ó‡πå-‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î‡∏°‡∏¥‡πÄ‡∏ô...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,‡πÅ‡∏™‡∏ô‡∏£‡∏±‡∏Å 9 ‡∏®‡∏∏‡∏Ç‡∏õ‡∏£‡∏∞‡∏¢‡∏π‡∏£ ‡∏´‡∏ô‡∏≠‡∏á‡∏Å‡∏£‡∏∞‡∏ó‡∏∏‡πà‡∏°,3,Townhome,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/‡πÅ‡∏™‡∏ô‡∏£‡∏±‡∏Å-9-‡∏®‡∏∏‡∏Ç‡∏õ‡∏£‡∏∞‡∏¢...

### Select columns

In [ ]:
opendata_project.columns

Index(['row_number', 'project_id', 'name_en', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'price_min',
       'developer_id', 'developer_name_en', 'developer_name_th', 'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
       'neighborhood_name_th', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_tower',
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security',
       'date_created', 'date_finish', 'date_updated', 'source', 'url_project'],
      dtype='object')

In [ ]:
opendata_project = opendata_project[['project_id',  'name_en',  'propertytype_id',
       'propertytype_name_en', 'price_min',
       'developer_id', 'developer_name_en',  'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
        'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security']]

In [ ]:
opendata_project.head()

,project_id,name_en,propertytype_id,propertytype_name_en,price_min,developer_id,developer_name_en,latitude,longitude,neighborhood_id,...,count_parking,count_unit,count_unittype,facility_clubhouse,facility_fitness,facility_meeting,facility_park,facility_playground,facility_pool,facility_security
0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,1,Detached House,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",13.570530,100.669356,B0998,...,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,1.0,1.0
1,project_11326,Gift Condominium,2,Condo,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",13.033814,101.080739,B0850,...,NaN,77.0,2.0,NaN,NaN,NaN,1.0,NaN,1.0,1.0
2,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,3,Townhome,0.0,developer_10510,NaN,13.417402,101.090080,B0785,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,project_2010,Baan Sansabai 1,1,Detached House,0.0,developer_10510,NaN,15.038042,102.143837,B0304,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,project_16838,Baanpruksa Ratchapruek-345,3,Townhome,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",13.965246,100.483435,B0681,...,NaN,485.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,1.0

### Missing/Null Checking

In [ ]:
opendata_project.isnull().any()

project_id                False
name_en                   False
propertytype_id           False
propertytype_name_en      False
price_min                  True
developer_id              False
developer_name_en          True
latitude                  False
longitude                  True
neighborhood_id            True
neighborhood_name_en       True
subdistrict_id             True
subdistrict_name_en        True
subdistrict_name_th        True
district_id                True
district_name_en           True
district_name_th           True
province_id                True
province_name_en           True
province_name_th           True
zipcode                    True
count_elevator             True
count_elevator_service     True
count_floor                True
count_parking              True
count_unit                 True
count_unittype             True
facility_clubhouse         True
facility_fitness           True
facility_meeting           True
facility_park              True
facility_playground        True
facility_pool              True
facility_security          True
dtype: bool

#### ‚á® dropna

In [ ]:
# ' price_min ' ‡∏£‡∏≤‡∏Ñ‡∏≤‡∏ï‡πà‡∏≥‡∏™‡∏∏‡∏î‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£
print(len(opendata_project[opendata_project['price_min'].isnull()])) #we used dropna()
opendata_project = opendata_project.dropna(subset=['price_min'])

117

In [ ]:
# ' longitude '
opendata_project[opendata_project['longitude'].isnull()]

,project_id,name_en,propertytype_id,propertytype_name_en,price_min,developer_id,developer_name_en,latitude,longitude,neighborhood_id,...,count_parking,count_unit,count_unittype,facility_clubhouse,facility_fitness,facility_meeting,facility_park,facility_playground,facility_pool,facility_security
5839,‡∏Ç‡∏ô‡∏™‡πà‡∏á‡∏õ‡∏ó‡∏∏‡∏°,3656.0,‡∏ö‡∏≤‡∏á‡πÇ‡∏û‡∏ò‡∏¥‡πå‡πÄ‡∏´‡∏ô‡∏∑‡∏≠,3647,‡∏™‡∏≤‡∏°‡πÇ‡∏Ñ‡∏Å,3599,Pathum Thani,12160.0,NaN,NaN,...,baania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8866,‡∏Ç‡∏ô‡∏™‡πà‡∏á‡∏õ‡∏ó‡∏∏‡∏°,3656.0,‡∏ö‡∏≤‡∏á‡πÇ‡∏û‡∏ò‡∏¥‡πå‡πÄ‡∏´‡∏ô‡∏∑‡∏≠,3647,‡∏™‡∏≤‡∏°‡πÇ‡∏Ñ‡∏Å,3599,Pathum Thani,12160.0,NaN,NaN,...,baania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14130,‡∏Ç‡∏ô‡∏™‡πà‡∏á‡∏õ‡∏ó‡∏∏‡∏°,3611.0,‡∏ö‡πâ‡∏≤‡∏ô‡∏â‡∏≤‡∏á,3600,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,3599,Pathum Thani,12000.0,NaN,NaN,...,baania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21895,‡∏Ç‡∏ô‡∏™‡πà‡∏á‡∏õ‡∏ó‡∏∏‡∏°,3634.0,‡∏Ñ‡∏π‡∏ö‡∏≤‡∏á‡∏´‡∏•‡∏ß‡∏á,3630,‡∏•‡∏≤‡∏î‡∏´‡∏•‡∏∏‡∏°‡πÅ‡∏Å‡πâ‡∏ß,3599,Pathum Thani,12140.0,NaN,NaN,...,baania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23353,‡∏Ç‡∏ô‡∏™‡πà‡∏á‡∏õ‡∏ó‡∏∏‡∏°,3656.0,‡∏ö‡∏≤‡∏á‡πÇ‡∏û‡∏ò‡∏¥‡πå‡πÄ‡∏´‡∏ô‡∏∑‡∏≠,3647,‡∏™‡∏≤‡∏°‡πÇ‡∏Ñ‡∏Å,3599,Pathum Thani,12160.0,NaN,NaN,...,baania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
opendata_project = opendata_project.dropna(subset=['longitude'])

In [ ]:
# 'subdistrict_id' ‡∏£‡∏´‡∏±‡∏™‡∏ï‡∏≥‡∏ö‡∏•
print(len(opendata_project[opendata_project['subdistrict_id'].isnull()])) 
opendata_project = opendata_project.dropna(subset=['subdistrict_id'])

13

In [ ]:
# 'zipcode' ‡∏£‡∏´‡∏±‡∏™‡πÑ‡∏õ‡∏£‡∏©‡∏ì‡∏µ‡∏¢‡πå
print(len(opendata_project[opendata_project['zipcode'].isnull()])) 
opendata_project = opendata_project.dropna(subset=['zipcode'])

21

#### ‚á® fill Null with real world Knownlege

In [ ]:
#fill NA with Text
opendata_project['developer_name_en'] = opendata_project['developer_name_en'].fillna('Unknown')
opendata_project['neighborhood_id'] = opendata_project['neighborhood_id'].fillna('Unknown') #‡∏£‡∏´‡∏±‡∏™‡∏¢‡πà‡∏≤‡∏ô 
opendata_project['neighborhood_name_en'] = opendata_project['neighborhood_name_en'].fillna('Unknown')

In [ ]:
# ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏•‡∏¥‡∏ü‡∏ï‡πå‡πÅ‡∏•‡∏∞‡∏ä‡∏±‡πâ‡∏ô
opendata_project[['count_floor', 'count_unit','count_unittype']]  = opendata_project[['count_floor', 'count_unit','count_unittype']].fillna(1) #‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ä‡∏±‡πâ‡∏ô‡∏Ç‡∏≠‡∏á‡∏ï‡∏±‡∏ß‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£, ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏¢‡∏π‡∏ô‡∏¥‡∏ï‡πÉ‡∏ô‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£, ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÅ‡∏ö‡∏ö‡πâ‡∏≤‡∏ô‡πÉ‡∏ô‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£
opendata_project[['count_elevator','count_floor','count_parking', 'count_elevator_service']] = opendata_project[['count_elevator','count_floor','count_parking', 'count_elevator_service']].fillna(0) 
# ‡∏™‡∏¥‡πà‡∏á‡∏≠‡∏≥‡∏ô‡∏ß‡∏¢‡∏Ñ‡∏ß‡∏≤‡∏°‡∏™‡∏∞‡∏î‡∏ß‡∏Å
opendata_project[['facility_clubhouse','facility_fitness','facility_meeting','facility_park','facility_playground','facility_pool','facility_security']] = opendata_project[['facility_clubhouse','facility_fitness','facility_meeting','facility_park','facility_playground','facility_pool','facility_security']].fillna(0)

In [ ]:
opendata_project.isnull().any()

project_id                False
name_en                   False
propertytype_id           False
propertytype_name_en      False
price_min                 False
developer_id              False
developer_name_en         False
latitude                  False
longitude                 False
neighborhood_id           False
neighborhood_name_en      False
subdistrict_id            False
subdistrict_name_en       False
subdistrict_name_th       False
district_id               False
district_name_en          False
district_name_th          False
province_id               False
province_name_en          False
province_name_th          False
zipcode                   False
count_elevator            False
count_elevator_service    False
count_floor               False
count_parking             False
count_unit                False
count_unittype            False
facility_clubhouse        False
facility_fitness          False
facility_meeting          False
facility_park             False
facility_playground       False
facility_pool             False
facility_security         False
dtype: bool

In [ ]:
# save data
opendata_project.to_csv('opendata_project_clean.csv', index=False)

## üìëopendata_unittype table

In [ ]:
opendata_unittype = pd.read_csv('opendata_unittype.csv')
print(opendata_unittype.shape) 
opendata_unittype.head(3)

(42625, 27)

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/‡πÄ‡∏ü-‡∏•‡∏¥‡∏Ñ-‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î-‡∏•‡∏≤‡∏î...
1,28777,unittype_10267,project_3543,‡∏ö‡πâ‡∏≤‡∏ô‡πÅ‡∏ù‡∏î‡∏™‡∏≠‡∏á‡∏ä‡∏±‡πâ‡∏ô Z-2,20000,Twin house,‡∏ö‡πâ‡∏≤‡∏ô‡πÅ‡∏ù‡∏î,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/‡πÄ‡∏ã‡∏ô-‡∏ö‡∏≤‡∏¢-‡∏®‡∏¥‡∏ß‡∏≤‡∏•‡∏±‡∏¢-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/‡∏ß‡∏±‡∏ô‡∏û‡∏•‡∏±‡∏™-‡∏ô‡∏≤‡∏¢‡∏ô‡πå‡∏ó‡∏µ‡∏ô...

### Select columns

In [ ]:
opendata_unittype.columns

Index(['row_number', 'unittype_id', 'project_id', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'area_total_min_wa',
       'area_usable_min', 'price_min', 'count_airconditioner',
       'count_elevator', 'count_floor_internal', 'count_parking',
       'count_room_bath', 'count_room_bed', 'count_room_dinning',
       'count_room_guest', 'count_room_kitchen', 'count_room_living',
       'count_room_maid', 'count_room_storage', 'count_room_utility',
       'date_created', 'date_updated', 'source', 'url_unittype'],
      dtype='object')

In [ ]:
opendata_unittype = opendata_unittype[['unittype_id', 'project_id', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'count_airconditioner',
       'count_elevator', 'count_floor_internal', 'count_parking',
       'count_room_bath', 'count_room_bed', 'count_room_dinning',
       'count_room_guest', 'count_room_kitchen', 'count_room_living',
       'count_room_maid', 'count_room_storage', 'count_room_utility']]
opendata_unittype.head()

,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,count_airconditioner,count_elevator,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
0,unittype_9565,project_2446,2 Bedroom,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,NaN,NaN,NaN,NaN,1.0,2.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN
1,unittype_10267,project_3543,‡∏ö‡πâ‡∏≤‡∏ô‡πÅ‡∏ù‡∏î‡∏™‡∏≠‡∏á‡∏ä‡∏±‡πâ‡∏ô Z-2,20000,Twin house,‡∏ö‡πâ‡∏≤‡∏ô‡πÅ‡∏ù‡∏î,NaN,NaN,2.0,2.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,unittype_471,project_143,1 Bedroom Type B,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,unittype_10290,project_3551,TH 3,3,Townhome,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,NaN,NaN,3.0,2.0,3.0,3.0,1.0,1.0,1.0,NaN,NaN,2.0,NaN

### Missing/Null Checking

In [ ]:
opendata_unittype.isnull().any()

unittype_id             False
project_id              False
name_th                  True
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
count_airconditioner     True
count_elevator           True
count_floor_internal     True
count_parking            True
count_room_bath          True
count_room_bed           True
count_room_dinning       True
count_room_guest         True
count_room_kitchen       True
count_room_living        True
count_room_maid          True
count_room_storage       True
count_room_utility       True
dtype: bool

#### ‚á® dropna

In [ ]:
# # ' price_min ' ‡∏£‡∏≤‡∏Ñ‡∏≤‡∏ï‡πà‡∏≥‡∏™‡∏∏‡∏î‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£
# print(len(opendata_unittype[opendata_unittype['price_min'].isnull()])) #we used dropna()
# opendata_unittype = opendata_unittype.dropna(subset=['price_min'])

#### ‚á® fill Null with real world Knownlege

In [ ]:
#fill NA with Text
opendata_unittype['name_th'] = opendata_unittype['name_th'].fillna('Unknown')

In [ ]:
# ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ä‡∏±‡πâ‡∏ô‡πÉ‡∏ô‡∏ö‡πâ‡∏≤‡∏ô
opendata_unittype[['count_floor_internal']]  = opendata_unittype[['count_floor_internal']].fillna(1) 
# ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏´‡πâ‡∏≠‡∏á, ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏•‡∏¥‡∏ü‡∏ï‡πå, ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÅ‡∏≠‡∏£‡πå
opendata_unittype[['count_airconditioner','count_elevator','count_parking','count_room_bath','count_room_bed','count_room_dinning','count_room_guest','count_room_kitchen','count_room_living','count_room_maid','count_room_storage','count_room_utility',]]  = opendata_unittype[['count_airconditioner','count_elevator','count_parking','count_room_bath','count_room_bed','count_room_dinning','count_room_guest','count_room_kitchen','count_room_living','count_room_maid','count_room_storage','count_room_utility',]].fillna(0)

In [ ]:
opendata_unittype.isnull().any()

unittype_id             False
project_id              False
name_th                 False
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
count_airconditioner    False
count_elevator          False
count_floor_internal    False
count_parking           False
count_room_bath         False
count_room_bed          False
count_room_dinning      False
count_room_guest        False
count_room_kitchen      False
count_room_living       False
count_room_maid         False
count_room_storage      False
count_room_utility      False
dtype: bool

In [ ]:
# save data
opendata_unittype.to_csv('opendata_unittype_clean.csv', index=False)

## üìëopendata_eating_score table

In [ ]:
opendata_eating_score = pd.read_csv('opendata_eating_score.csv')
print(opendata_eating_score.shape) 
opendata_eating_score.head(3)

(554, 20)

,row_number,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,eating_daytime,eating_daytime_price,eating_daytime_quality,eating_daytime_variety,eating_nighttime,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety,source,day
0,2,4001,HUAI KHWANG,‡∏´‡πâ‡∏ß‡∏¢‡∏Ç‡∏ß‡∏≤‡∏á,4000,HUAI KHWANG,‡∏´‡πâ‡∏ß‡∏¢‡∏Ç‡∏ß‡∏≤‡∏á,3781,Bangkok,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,66.0,72.0,49.0,92.0,75.0,68.0,54.0,94.0,baania,2022-08-31
1,397,2632,THEP KRASATTRI,‡πÄ‡∏ó‡∏û‡∏Å‡∏£‡∏∞‡∏©‡∏±‡∏ï‡∏£‡∏µ,2630,THALANG,‡∏ñ‡∏•‡∏≤‡∏á,2616,Phuket,‡∏†‡∏π‡πÄ‡∏Å‡πá‡∏ï,35.0,37.0,30.0,45.0,38.0,28.0,28.0,51.0,baania,2022-08-31
2,76,3509,PAK NAM,‡∏õ‡∏≤‡∏Å‡∏ô‡πâ‡∏≥,3499,MUEANG SAMUT PRAKAN,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,3498,Samut Prakan,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,70.0,84.0,55.0,79.0,65.0,72.0,57.0,67.0,baania,2022-08-31

### Select columns

In [ ]:
opendata_eating_score.columns

Index(['row_number', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'eating_daytime', 'eating_daytime_price',
       'eating_daytime_quality', 'eating_daytime_variety', 'eating_nighttime',
       'eating_nighttime_price', 'eating_nighttime_quality',
       'eating_nighttime_variety', 'source', 'day'],
      dtype='object')

In [ ]:
opendata_eating_score = opendata_eating_score[['subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'eating_daytime', 'eating_daytime_price',
       'eating_daytime_quality', 'eating_daytime_variety', 'eating_nighttime',
       'eating_nighttime_price', 'eating_nighttime_quality',
       'eating_nighttime_variety']]
opendata_eating_score.head()

,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,eating_daytime,eating_daytime_price,eating_daytime_quality,eating_daytime_variety,eating_nighttime,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety
0,4001,HUAI KHWANG,‡∏´‡πâ‡∏ß‡∏¢‡∏Ç‡∏ß‡∏≤‡∏á,4000,HUAI KHWANG,‡∏´‡πâ‡∏ß‡∏¢‡∏Ç‡∏ß‡∏≤‡∏á,3781,Bangkok,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,66.0,72.0,49.0,92.0,75.0,68.0,54.0,94.0
1,2632,THEP KRASATTRI,‡πÄ‡∏ó‡∏û‡∏Å‡∏£‡∏∞‡∏©‡∏±‡∏ï‡∏£‡∏µ,2630,THALANG,‡∏ñ‡∏•‡∏≤‡∏á,2616,Phuket,‡∏†‡∏π‡πÄ‡∏Å‡πá‡∏ï,35.0,37.0,30.0,45.0,38.0,28.0,28.0,51.0
2,3509,PAK NAM,‡∏õ‡∏≤‡∏Å‡∏ô‡πâ‡∏≥,3499,MUEANG SAMUT PRAKAN,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,3498,Samut Prakan,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,70.0,84.0,55.0,79.0,65.0,72.0,57.0,67.0
3,4628,SAMET,‡πÄ‡∏™‡∏°‡πá‡∏î,4617,MUEANG CHON BURI,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏ä‡∏•‡∏ö‡∏∏‡∏£‡∏µ,4616,Chon Buri,‡∏ä‡∏•‡∏ö‡∏∏‡∏£‡∏µ,68.0,67.0,56.0,97.0,69.0,41.0,54.0,94.0
4,1166,TON PAO,‡∏ï‡πâ‡∏ô‡πÄ‡∏õ‡∏≤,1164,SAN KAMPHAENG,‡∏™‡∏±‡∏ô‡∏Å‡∏≥‡πÅ‡∏û‡∏á,1005,Chiang Mai,‡πÄ‡∏ä‡∏µ‡∏¢‡∏á‡πÉ‡∏´‡∏°‡πà,44.0,36.0,47.0,51.0,47.0,22.0,61.0,52.0

### Missing/Null Checking

In [ ]:
opendata_eating_score.isnull().any()

subdistrict_id              False
subdistrict_name_en         False
subdistrict_name_th         False
district_id                 False
district_name_en            False
district_name_th            False
province_id                 False
province_name_en            False
province_name_th            False
eating_daytime              False
eating_daytime_price        False
eating_daytime_quality      False
eating_daytime_variety      False
eating_nighttime            False
eating_nighttime_price      False
eating_nighttime_quality    False
eating_nighttime_variety    False
dtype: bool

### Check data type

In [ ]:
opendata_eating_score.dtypes

subdistrict_id                int64
subdistrict_name_en          object
subdistrict_name_th          object
district_id                   int64
district_name_en             object
district_name_th             object
province_id                   int64
province_name_en             object
province_name_th             object
eating_daytime              float64
eating_daytime_price        float64
eating_daytime_quality      float64
eating_daytime_variety      float64
eating_nighttime            float64
eating_nighttime_price      float64
eating_nighttime_quality    float64
eating_nighttime_variety    float64
dtype: object

In [ ]:
# save data
opendata_eating_score.to_csv('opendata_eating_score_clean.csv', index=False)

## üìëopendata_living_score table

In [ ]:
opendata_living_score = pd.read_csv('opendata_living_score.csv')
print(opendata_living_score.shape) 
opendata_living_score.head(3)

(709, 28)

,row_number,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,...,access_train,access_total,drive_leisure,drive_public_service,drive_school,drive_shopping,drive_work,drive_total,source,day
0,634,3410,SANO LOI,‡πÇ‡∏™‡∏ô‡∏•‡∏≠‡∏¢,3402,BANG BUA THONG,‡∏ö‡∏≤‡∏á‡∏ö‡∏±‡∏ß‡∏ó‡∏≠‡∏á,3372,Nonthaburi,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,...,1.0,79.0,100.0,100.0,100.0,100.0,100.0,100.0,baania,2022-09-30
1,619,3976,TALAT NOI,‡∏ï‡∏•‡∏≤‡∏î‡∏ô‡πâ‡∏≠‡∏¢,3973,SAMPHANTHAWONG,‡∏™‡∏±‡∏°‡∏û‡∏±‡∏ô‡∏ò‡∏ß‡∏á‡∏®‡πå,3781,Bangkok,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,...,100.0,100.0,100.0,87.0,100.0,100.0,100.0,99.0,baania,2022-09-30
2,284,4669,BAN KAO,‡∏ö‡πâ‡∏≤‡∏ô‡πÄ‡∏Å‡πà‡∏≤,4663,PHAN THONG,‡∏û‡∏≤‡∏ô‡∏ó‡∏≠‡∏á,4616,Chon Buri,‡∏ä‡∏•‡∏ö‡∏∏‡∏£‡∏µ,...,0.0,0.0,79.0,91.0,86.0,84.0,93.0,85.0,baania,2022-09-30

### Select columns

In [ ]:
opendata_living_score.columns

Index(['row_number', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'walk_leisure', 'walk_public_service',
       'walk_school', 'walk_shopping', 'walk_work', 'walk_total',
       'access_boat', 'access_bus', 'access_train', 'access_total',
       'drive_leisure', 'drive_public_service', 'drive_school',
       'drive_shopping', 'drive_work', 'drive_total', 'source', 'day'],
      dtype='object')

In [ ]:
opendata_living_score = opendata_living_score[['subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'walk_leisure', 'walk_public_service',
       'walk_school', 'walk_shopping', 'walk_work', 'walk_total',
       'access_boat', 'access_bus', 'access_train', 'access_total',
       'drive_leisure', 'drive_public_service', 'drive_school',
       'drive_shopping', 'drive_work', 'drive_total']]
opendata_living_score.head()

,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,walk_leisure,...,access_boat,access_bus,access_train,access_total,drive_leisure,drive_public_service,drive_school,drive_shopping,drive_work,drive_total
0,3410,SANO LOI,‡πÇ‡∏™‡∏ô‡∏•‡∏≠‡∏¢,3402,BANG BUA THONG,‡∏ö‡∏≤‡∏á‡∏ö‡∏±‡∏ß‡∏ó‡∏≠‡∏á,3372,Nonthaburi,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,96.0,...,98.0,100.0,1.0,79.0,100.0,100.0,100.0,100.0,100.0,100.0
1,3976,TALAT NOI,‡∏ï‡∏•‡∏≤‡∏î‡∏ô‡πâ‡∏≠‡∏¢,3973,SAMPHANTHAWONG,‡∏™‡∏±‡∏°‡∏û‡∏±‡∏ô‡∏ò‡∏ß‡∏á‡∏®‡πå,3781,Bangkok,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,100.0,...,100.0,100.0,100.0,100.0,100.0,87.0,100.0,100.0,100.0,99.0
2,4669,BAN KAO,‡∏ö‡πâ‡∏≤‡∏ô‡πÄ‡∏Å‡πà‡∏≤,4663,PHAN THONG,‡∏û‡∏≤‡∏ô‡∏ó‡∏≠‡∏á,4616,Chon Buri,‡∏ä‡∏•‡∏ö‡∏∏‡∏£‡∏µ,7.0,...,0.0,0.0,0.0,0.0,79.0,91.0,86.0,84.0,93.0,85.0
3,2647,BAN THUM,‡∏ö‡πâ‡∏≤‡∏ô‡∏ó‡∏∏‡πà‡∏°,2638,MUEANG KHON KAEN,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏Ç‡∏≠‡∏ô‡πÅ‡∏Å‡πà‡∏ô,2637,Khon Kaen,‡∏Ç‡∏≠‡∏ô‡πÅ‡∏Å‡πà‡∏ô,11.0,...,0.0,0.0,0.0,0.0,73.0,65.0,73.0,57.0,47.0,62.0
4,3799,RAM INTHRA,‡∏£‡∏≤‡∏°‡∏≠‡∏¥‡∏ô‡∏ó‡∏£‡∏≤,3797,KHAN NA YAO,‡∏Ñ‡∏±‡∏ô‡∏ô‡∏≤‡∏¢‡∏≤‡∏ß,3781,Bangkok,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,89.0,...,1.0,94.0,5.0,39.0,99.0,61.0,99.0,90.0,84.0,89.0

### Missing/Null Checking

In [ ]:
opendata_living_score.isnull().any()

subdistrict_id          False
subdistrict_name_en     False
subdistrict_name_th     False
district_id             False
district_name_en        False
district_name_th        False
province_id             False
province_name_en        False
province_name_th        False
walk_leisure            False
walk_public_service     False
walk_school             False
walk_shopping           False
walk_work               False
walk_total              False
access_boat             False
access_bus              False
access_train            False
access_total            False
drive_leisure           False
drive_public_service    False
drive_school            False
drive_shopping          False
drive_work              False
drive_total             False
dtype: bool

### Check data type

In [ ]:
opendata_living_score.dtypes

subdistrict_id            int64
subdistrict_name_en      object
subdistrict_name_th      object
district_id               int64
district_name_en         object
district_name_th         object
province_id               int64
province_name_en         object
province_name_th         object
walk_leisure            float64
walk_public_service     float64
walk_school             float64
walk_shopping           float64
walk_work               float64
walk_total              float64
access_boat             float64
access_bus              float64
access_train            float64
access_total            float64
drive_leisure           float64
drive_public_service    float64
drive_school            float64
drive_shopping          float64
drive_work              float64
drive_total             float64
dtype: object

In [ ]:
# save data
opendata_living_score.to_csv('opendata_living_score_clean.csv', index=False)

# üîóMerge tables

In [ ]:
import pandas as pd
opendata_project_clean = pd.read_csv('/content/drive/MyDrive/BPDV65/opendata_project_clean.csv')
opendata_unittype_clean = pd.read_csv('/content/drive/MyDrive/BPDV65/opendata_unittype_clean.csv') #‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡∏´‡∏•‡∏±‡∏Å
opendata_eating_score_clean = pd.read_csv('/content/drive/MyDrive/BPDV65/opendata_eating_score_clean.csv')
opendata_living_score_clean = pd.read_csv('/content/drive/MyDrive/BPDV65/opendata_living_score_clean.csv')

## 1] ‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á opendata_unittype_clean ‡πÄ‡∏Ç‡πâ‡∏≤‡∏Å‡∏±‡∏ö opendata_project_clean

*‡∏´‡∏°‡∏≤‡∏¢‡πÄ‡∏´‡∏ï‡∏∏* * ‡∏û‡∏¥‡∏à‡∏≤‡∏£‡∏ì‡∏≤‡∏ä‡∏∑‡πà‡∏≠‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡∏™‡∏ô‡πÉ‡∏à ‡∏´‡∏£‡∏∑‡∏≠‡∏≠‡∏≤‡∏à‡∏ã‡πâ‡∏≠‡∏ô‡∏ó‡∏±‡∏ö‡∏Å‡∏±‡∏ô‡∏Å‡πà‡∏≠‡∏ô‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á

In [ ]:
opendata_unittype_clean.columns

Index(['unittype_id', 'project_id', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'count_airconditioner',
       'count_elevator', 'count_floor_internal', 'count_parking',
       'count_room_bath', 'count_room_bed', 'count_room_dinning',
       'count_room_guest', 'count_room_kitchen', 'count_room_living',
       'count_room_maid', 'count_room_storage', 'count_room_utility'],
      dtype='object')

In [ ]:
opendata_project_clean.columns

Index(['project_id', 'name_en', 'propertytype_id', 'propertytype_name_en',
       'price_min', 'developer_id', 'developer_name_en', 'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
       'subdistrict_id', 'subdistrict_name_en', 'subdistrict_name_th',
       'district_id', 'district_name_en', 'district_name_th', 'province_id',
       'province_name_en', 'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_unit',
       'count_unittype', 'facility_clubhouse', 'facility_fitness',
       'facility_meeting', 'facility_park', 'facility_playground',
       'facility_pool', 'facility_security'],
      dtype='object')

In [ ]:
# select columns 
opendata_unittype_clean = opendata_unittype_clean[['unittype_id', 'project_id', 'name_th', 'count_airconditioner',
       'count_elevator', 'count_floor_internal', 'count_parking',
       'count_room_bath', 'count_room_bed', 'count_room_dinning',
       'count_room_guest', 'count_room_kitchen', 'count_room_living',
       'count_room_maid', 'count_room_storage', 'count_room_utility']]
opendata_unittype_clean.head(3)

,unittype_id,project_id,name_th,count_airconditioner,count_elevator,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
0,unittype_9565,project_2446,2 Bedroom,0.0,0.0,1.0,0.0,1.0,2.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
1,unittype_10267,project_3543,‡∏ö‡πâ‡∏≤‡∏ô‡πÅ‡∏ù‡∏î‡∏™‡∏≠‡∏á‡∏ä‡∏±‡πâ‡∏ô Z-2,0.0,0.0,2.0,2.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,unittype_471,project_143,1 Bedroom Type B,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
#‡∏û‡∏ö‡∏ß‡πà‡∏≤‡∏ä‡∏∑‡πà‡∏≠ columns ‡∏ã‡πâ‡∏≥‡∏Å‡∏±‡∏ô
# count_parking
# count_elevator

#‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡∏ä‡∏∑‡πà‡∏≠ columns
opendata_unittype_clean.rename(columns={'count_parking': 'count_parking_unittype', 'count_elevator': 'count_elevator_unittype'}, inplace=True)
opendata_unittype_clean.head(3)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,unittype_id,project_id,name_th,count_airconditioner,count_elevator_unittype,count_floor_internal,count_parking_unittype,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
0,unittype_9565,project_2446,2 Bedroom,0.0,0.0,1.0,0.0,1.0,2.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
1,unittype_10267,project_3543,‡∏ö‡πâ‡∏≤‡∏ô‡πÅ‡∏ù‡∏î‡∏™‡∏≠‡∏á‡∏ä‡∏±‡πâ‡∏ô Z-2,0.0,0.0,2.0,2.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,unittype_471,project_143,1 Bedroom Type B,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# merge
table_merge = opendata_project_clean.merge(opendata_unittype_clean, how ='left', left_on='project_id',right_on='project_id') 
print(table_merge.shape)

(53480, 49)

In [ ]:
table_merge.isnull().any()

project_id                 False
name_en                    False
propertytype_id            False
propertytype_name_en       False
price_min                  False
developer_id               False
developer_name_en          False
latitude                   False
longitude                  False
neighborhood_id            False
neighborhood_name_en       False
subdistrict_id             False
subdistrict_name_en        False
subdistrict_name_th        False
district_id                False
district_name_en           False
district_name_th           False
province_id                False
province_name_en           False
province_name_th           False
zipcode                    False
count_elevator             False
count_elevator_service     False
count_floor                False
count_parking              False
count_unit                 False
count_unittype             False
facility_clubhouse         False
facility_fitness           False
facility_meeting           False
facility_park              False
facility_playground        False
facility_pool              False
facility_security          False
unittype_id                False
name_th                    False
count_airconditioner       False
count_elevator_unittype    False
count_floor_internal       False
count_parking_unittype     False
count_room_bath            False
count_room_bed             False
count_room_dinning         False
count_room_guest           False
count_room_kitchen         False
count_room_living          False
count_room_maid            False
count_room_storage         False
count_room_utility         False
dtype: bool

##  2] ‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á table_merge ‡πÄ‡∏Ç‡πâ‡∏≤‡∏Å‡∏±‡∏ö opendata_eating_score_clean

*‡∏´‡∏°‡∏≤‡∏¢‡πÄ‡∏´‡∏ï‡∏∏* * ‡∏û‡∏¥‡∏à‡∏≤‡∏£‡∏ì‡∏≤‡∏ä‡∏∑‡πà‡∏≠‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡∏™‡∏ô‡πÉ‡∏à ‡∏´‡∏£‡∏∑‡∏≠‡∏≠‡∏≤‡∏à‡∏ã‡πâ‡∏≠‡∏ô‡∏ó‡∏±‡∏ö‡∏Å‡∏±‡∏ô‡∏Å‡πà‡∏≠‡∏ô‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á

In [ ]:
table_merge.columns

Index(['project_id', 'name_en', 'propertytype_id', 'propertytype_name_en',
       'price_min', 'developer_id', 'developer_name_en', 'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
       'subdistrict_id', 'subdistrict_name_en', 'subdistrict_name_th',
       'district_id', 'district_name_en', 'district_name_th', 'province_id',
       'province_name_en', 'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_unit',
       'count_unittype', 'facility_clubhouse', 'facility_fitness',
       'facility_meeting', 'facility_park', 'facility_playground',
       'facility_pool', 'facility_security', 'unittype_id', 'name_th',
       'count_airconditioner', 'count_elevator_unittype',
       'count_floor_internal', 'count_parking_unittype', 'count_room_bath',
       'count_room_bed', 'count_room_dinning', 'count_room_guest',
       'count_room_kitchen', 'count_room_living', 'count_room_maid',
       'count_room_storage', 'count_room_utility'],
      dtype='object')

In [ ]:
opendata_eating_score_clean.columns

Index(['subdistrict_id', 'subdistrict_name_en', 'subdistrict_name_th',
       'district_id', 'district_name_en', 'district_name_th', 'province_id',
       'province_name_en', 'province_name_th', 'eating_daytime',
       'eating_daytime_price', 'eating_daytime_quality',
       'eating_daytime_variety', 'eating_nighttime', 'eating_nighttime_price',
       'eating_nighttime_quality', 'eating_nighttime_variety'],
      dtype='object')

In [ ]:
# select columns 
opendata_eating_score_clean = opendata_eating_score_clean[['subdistrict_id', 'district_id','province_id', 'eating_daytime',
       'eating_daytime_price', 'eating_daytime_quality','eating_daytime_variety', 'eating_nighttime', 
       'eating_nighttime_price', 'eating_nighttime_quality', 'eating_nighttime_variety']]

In [ ]:
len(set(opendata_eating_score_clean['province_id'])) #Location scope - ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û ‡∏õ‡∏£‡∏¥‡∏°‡∏ì‡∏ë‡∏•

10

In [ ]:
len(set(table_merge['province_id']))#Location scope - All

72

In [ ]:
# merge
table_merge2 = table_merge.merge(opendata_eating_score_clean, how ='left', left_on=['subdistrict_id','district_id','province_id',], right_on=['subdistrict_id','district_id','province_id',]) 
print(table_merge2.shape)

(53480, 57)

#### Missing/Null Checking

In [ ]:
table_merge2.isnull().any()

project_id                  False
name_en                     False
propertytype_id             False
propertytype_name_en        False
price_min                   False
developer_id                False
developer_name_en           False
latitude                    False
longitude                   False
neighborhood_id             False
neighborhood_name_en        False
subdistrict_id              False
subdistrict_name_en         False
subdistrict_name_th         False
district_id                 False
district_name_en            False
district_name_th            False
province_id                 False
province_name_en            False
province_name_th            False
zipcode                     False
count_elevator              False
count_elevator_service      False
count_floor                 False
count_parking               False
count_unit                  False
count_unittype              False
facility_clubhouse          False
facility_fitness            False
facility_meeting            False
facility_park               False
facility_playground         False
facility_pool               False
facility_security           False
unittype_id                 False
name_th                     False
count_airconditioner        False
count_elevator_unittype     False
count_floor_internal        False
count_parking_unittype      False
count_room_bath             False
count_room_bed              False
count_room_dinning          False
count_room_guest            False
count_room_kitchen          False
count_room_living           False
count_room_maid             False
count_room_storage          False
count_room_utility          False
eating_daytime               True
eating_daytime_price         True
eating_daytime_quality       True
eating_daytime_variety       True
eating_nighttime             True
eating_nighttime_price       True
eating_nighttime_quality     True
eating_nighttime_variety     True
dtype: bool

In [ ]:
# ' eating_daytime ' ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏Å‡∏≤‡∏£‡∏Å‡∏¥‡∏ô ‡∏î‡πâ‡∏≤‡∏ô‡∏£‡∏≤‡∏Ñ‡∏≤ ‡∏ä‡πà‡∏ß‡∏á‡∏Å‡∏•‡∏≤‡∏á‡∏ß‡∏±‡∏ô
print(len(table_merge2[table_merge2['eating_daytime'].isnull()]))

10984

In [ ]:
len(table_merge2) #‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î

53480

In [ ]:
#we used fill Null with 0 
table_merge2 = table_merge2.fillna(0)

In [ ]:
table_merge2.isnull().any()

project_id                  False
name_en                     False
propertytype_id             False
propertytype_name_en        False
price_min                   False
developer_id                False
developer_name_en           False
latitude                    False
longitude                   False
neighborhood_id             False
neighborhood_name_en        False
subdistrict_id              False
subdistrict_name_en         False
subdistrict_name_th         False
district_id                 False
district_name_en            False
district_name_th            False
province_id                 False
province_name_en            False
province_name_th            False
zipcode                     False
count_elevator              False
count_elevator_service      False
count_floor                 False
count_parking               False
count_unit                  False
count_unittype              False
facility_clubhouse          False
facility_fitness            False
facility_meeting            False
facility_park               False
facility_playground         False
facility_pool               False
facility_security           False
unittype_id                 False
name_th                     False
count_airconditioner        False
count_elevator_unittype     False
count_floor_internal        False
count_parking_unittype      False
count_room_bath             False
count_room_bed              False
count_room_dinning          False
count_room_guest            False
count_room_kitchen          False
count_room_living           False
count_room_maid             False
count_room_storage          False
count_room_utility          False
eating_daytime              False
eating_daytime_price        False
eating_daytime_quality      False
eating_daytime_variety      False
eating_nighttime            False
eating_nighttime_price      False
eating_nighttime_quality    False
eating_nighttime_variety    False
dtype: bool

##  3] ‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á table_merge2 ‡πÄ‡∏Ç‡πâ‡∏≤‡∏Å‡∏±‡∏ö opendata_living_score_clean

*‡∏´‡∏°‡∏≤‡∏¢‡πÄ‡∏´‡∏ï‡∏∏* * ‡∏û‡∏¥‡∏à‡∏≤‡∏£‡∏ì‡∏≤‡∏ä‡∏∑‡πà‡∏≠‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡∏™‡∏ô‡πÉ‡∏à ‡∏´‡∏£‡∏∑‡∏≠‡∏≠‡∏≤‡∏à‡∏ã‡πâ‡∏≠‡∏ô‡∏ó‡∏±‡∏ö‡∏Å‡∏±‡∏ô‡∏Å‡πà‡∏≠‡∏ô‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á

In [ ]:
table_merge2.columns

Index(['project_id', 'name_en', 'propertytype_id', 'propertytype_name_en',
       'price_min', 'developer_id', 'developer_name_en', 'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
       'subdistrict_id', 'subdistrict_name_en', 'subdistrict_name_th',
       'district_id', 'district_name_en', 'district_name_th', 'province_id',
       'province_name_en', 'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_unit',
       'count_unittype', 'facility_clubhouse', 'facility_fitness',
       'facility_meeting', 'facility_park', 'facility_playground',
       'facility_pool', 'facility_security', 'unittype_id', 'name_th',
       'count_airconditioner', 'count_elevator_unittype',
       'count_floor_internal', 'count_parking_unittype', 'count_room_bath',
       'count_room_bed', 'count_room_dinning', 'count_room_guest',
       'count_room_kitchen', 'count_room_living', 'count_room_maid',
       'count_room_storage', 'count_room_utility', 'eating_daytime',
       'eating_daytime_price', 'eating_daytime_quality',
       'eating_daytime_variety', 'eating_nighttime', 'eating_nighttime_price',
       'eating_nighttime_quality', 'eating_nighttime_variety'],
      dtype='object')

In [ ]:
opendata_living_score_clean.columns

Index(['subdistrict_id', 'subdistrict_name_en', 'subdistrict_name_th',
       'district_id', 'district_name_en', 'district_name_th', 'province_id',
       'province_name_en', 'province_name_th', 'walk_leisure',
       'walk_public_service', 'walk_school', 'walk_shopping', 'walk_work',
       'walk_total', 'access_boat', 'access_bus', 'access_train',
       'access_total', 'drive_leisure', 'drive_public_service', 'drive_school',
       'drive_shopping', 'drive_work', 'drive_total'],
      dtype='object')

In [ ]:
# select columns 
opendata_living_score_clean = opendata_living_score_clean[['subdistrict_id', 
       'district_id','province_id', 'walk_leisure',
       'walk_public_service', 'walk_school', 'walk_shopping', 'walk_work',
       'walk_total', 'access_boat', 'access_bus', 'access_train',
       'access_total', 'drive_leisure', 'drive_public_service', 'drive_school',
       'drive_shopping', 'drive_work', 'drive_total']]

In [ ]:
len(set(opendata_living_score_clean['province_id'])) #Location scope - ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û ‡∏õ‡∏£‡∏¥‡∏°‡∏ì‡∏ë‡∏•

18

In [ ]:
len(set(table_merge2['province_id'])) #Location scope - All

72

In [ ]:
# merge
table_merge3 = table_merge2.merge(opendata_living_score_clean, how ='left', left_on=['subdistrict_id','district_id','province_id',], right_on=['subdistrict_id','district_id','province_id',]) 
print(table_merge3.shape)

(53480, 73)


#### Missing/Null Checking

In [ ]:
table_merge3.isnull().any()

project_id              False
name_en                 False
propertytype_id         False
propertytype_name_en    False
price_min               False
                        ...
drive_public_service     True
drive_school             True
drive_shopping           True
drive_work               True
drive_total              True
Length: 73, dtype: bool

In [ ]:
# ' eating_daytime ' ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏Å‡∏≤‡∏£‡∏Å‡∏¥‡∏ô ‡∏î‡πâ‡∏≤‡∏ô‡∏£‡∏≤‡∏Ñ‡∏≤ ‡∏ä‡πà‡∏ß‡∏á‡∏Å‡∏•‡∏≤‡∏á‡∏ß‡∏±‡∏ô
print(len(table_merge3[table_merge3['walk_public_service'].isnull()]))

5219

In [ ]:
#we used fill Null 
table_merge3 = table_merge3.fillna(0)

In [ ]:
table_merge3.isnull().any()

project_id              False
name_en                 False
propertytype_id         False
propertytype_name_en    False
price_min               False
                        ...
drive_public_service    False
drive_school            False
drive_shopping          False
drive_work              False
drive_total             False
Length: 73, dtype: bool

In [ ]:
table_merge3

,project_id,name_en,propertytype_id,propertytype_name_en,price_min,developer_id,developer_name_en,latitude,longitude,neighborhood_id,...,access_boat,access_bus,access_train,access_total,drive_leisure,drive_public_service,drive_school,drive_shopping,drive_work,drive_total
0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,1,Detached House,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",13.570530,100.669356,B0998,...,1.0,40.0,0.0,16.0,99.0,99.0,97.0,100.0,100.0,99.0
1,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,1,Detached House,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",13.570530,100.669356,B0998,...,1.0,40.0,0.0,16.0,99.0,99.0,97.0,100.0,100.0,99.0
2,project_11326,Gift Condominium,2,Condo,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",13.033814,101.080739,B0850,...,0.0,0.0,0.0,0.0,74.0,77.0,62.0,77.0,84.0,76.0
3,project_11326,Gift Condominium,2,Condo,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",13.033814,101.080739,B0850,...,0.0,0.0,0.0,0.0,74.0,77.0,62.0,77.0,84.0,76.0
4,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,3,Townhome,0.0,developer_10510,Unknown,13.417402,101.090080,B0785,...,0.0,0.0,0.0,0.0,71.0,74.0,77.0,92.0,89.0,84.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53475,project_144,Koolpunt Ville 15 Park Avenue,1,Detached House,4000000.0,developer_1004,"Homeland Service Co., Ltd.",18.808447,99.058695,B0084,...,0.0,0.0,0.0,0.0,16.0,68.0,76.0,48.0,87.0,50.0
53476,project_144,Koolpunt Ville 15 Park Avenue,1,Detached House,4000000.0,developer_1004,"Homeland Service Co., Ltd.",18.808447,99.058695,B0084,...,0.0,0.0,0.0,0.0,16.0,68.0,76.0,48.0,87.0,50.0
53477,project_144,Koolpunt Ville 15 Park Avenue,1,Detached House,4000000.0,developer_1004,"Homeland Service Co., Ltd.",18.808447,99.058695,B0084,...,0.0,0.0,0.0,0.0,16.0,68.0,76.0,48.0,87.0,50.0
53478,project_144,Koolpunt Ville 15 Park Avenue,1,Detached House,4000000.0,developer_1004,"Homeland Service Co., Ltd.",18.808447,99.058695,B0084,...,0.0,0.0,0.0,0.0,16.0,68.0,76.0,48.0,87.0,50.0
53479,project_16300,Thawisuk Garden Home,1,Detached House,2800000.0,developer_10510,Unknown,12.684945,101.066167,B0893,...,0.0,0.0,0.0,0.0,72.0,72.0,69.0,86.0,75.0,79.0

In [ ]:
# save data
table_merge3.to_csv('Residental_clean.csv', index=False)